header {
	background-color: $primary-color;
}

.header {
	color: #ffffff;
	background-image: url("/assets/images/dom-washburn.png");
	background-opacity: .5;
	background-origin: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: rem(590);
}

.header__group {
	width: 90%;
	float: none;
	margin: 0 auto;
	text-align: center;
	@include breakpoint(420px) {
		width: 75%;
	}
	@include breakpoint(860px) {
		float: right;
		width: 50%;
		text-align: left;
	}
}

.header__heading{
	
}

.header__paragraph {
	color: #fff;
	font-size: rem(23.04);
	line-height: rem-lh(23.04, 1.55);
	@include margin-paragraph(23.04);
	@include breakpoint(420px) {
		font-size: rem(23.04);
		line-height: rem-lh(23.04, 1.55);
	}
}

.header__btn {
	border-color: lighten($primary-color , 25%);
	color: lighten($primary-color , 25%);
}