@viewport {
   width: device-width;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

/* IE6 */
* html .clearfix { 
	zoom: 1; 
} 

/* IE7 */
*:first-child+html .clearfix {
	zoom: 1;
} 

body {
}

section {
	padding-bottom: rem(39.814);
}

.content {
	margin: 0 auto;
	max-width: 1020px;
	min-width: 0;
	overflow-x: hidden;
	padding: 0 rem(23.04);
	height: auto;
}

.asside--right {
	padding: 0;
	@include breakpoint(768px){
		padding-left: rem(23.04);
	}
}

.asside--left {
	padding: 0;
	@include breakpoint(768px){
		padding-right: rem(23.04);
	}
}

* .responsive-columns:lastchild {
	margin-right: 0;
}

.responsive-columns {
	float: left;
    vertical-align: top;
    position: relative;
    width: 100%;
	@include breakpoint (550px) {
	    width: 47.2%;
		margin: 0 2.4% 2.4% 0;
	}
    @include breakpoint (769px) {
  		width: 100%;
    }
}