@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dom\/Documents\/_DEV\/master-dev-template\/assets\/scss\/style\.scss}line{font-family:\000034}}
body {
  background-color: rgba(124, 255, 80, 0.72);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
