/* SECTIONS */
#about {
	background-color: lighten($background-color, 60%);
}

/* Thumbnail Grid */
.thumb-grid {
	padding-top: 20px;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 20px;
	width: 100%;
	clear: both;
	@include breakpoint (500px) {
    	width: 103.3%
    }
}

.thumb-grid__container {
	list-style: none;
    margin: 0 auto;
    text-align: center;
}

.thumb-grid__grid-item {
	float: left;
    vertical-align: top;
    position: relative;
    width: 100%;
    @include breakpoint (500px) {
    	width: 47.2%;
		margin: 0 2.4% 2.4% 0;
    }
    @include breakpoint (769px) {
    	width: 31%;
    	margin: 0 1.9% 1.9% 0;
    }
}

.thumb-grid__overlay {
	background-color: rgba(#fff, .9);
	display: block;
	width: 100%;
	margin: 0;
	opacity: 0;
	padding: rem(39.814);
	position: absolute;
	z-index: 1;
	&:hover {
		opacity: 1;
	}
	.touch &, .no-js & {
		@extend .clearfix;
		background-color: $background-color;
		opacity: 1;
		height: auto;
		line-height: 1rem;
		margin-top: -7px;
		padding: rem(23.04) 7%;
		position: initial;
		width: 100%;
		@include breakpoint(500px) {
			height: rem(118);
			.thumb-grid__title {
				vertical-align: center;
			}
		}
	}
}

.thumb-grid__title {
	color: $primary-color;
	margin: auto 0;
	text-align: center;
	.no-touch & {
		
	}
}


.thumb-grid__thumbnail {
    float: left;
    margin: 0;
    width: 100%;
    .touch &, .no-js & {
    	float: none;
    }
}

/* Progress Bar */
.meter {
	border-radius: .5rem; 
}

.meter__label {
	@extend .small-label;
}

.meter__container, [class^="meter__progress--"] {
	border-radius: rem(3);
}

.meter__container {
	clear: left;
	background-color: darken($background-color, 10%);
	height: rem(23.04);
	//padding: rem(3);
	width: 100%;
}

.meter--orange {
	background-color: $primary-color;
}

[class^="meter__progress--"] {
	overflow: hidden;
	height: 100%;
	&:after {
		content: ' ';
		display: block;
	}
}

$percent: 0;
$skills-class: meter__progress--;
@while $percent <= 100 {
	.#{$skills-class}#{$percent} {
		width: 0% + $percent;
	}
	$percent: $percent + 5;
}
/* Portfolio Page */


.slider {

}

.slider__slide {
	width: 100%;
}

/* lightbox */
#imagelightbox
{
    position: fixed;
    z-index: 9999;
}

#imagelightbox__overlay {
	background-color: rgba($primary-color, .9);
	height: 100%;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 9998;
}

/* form styles */
.form {

}

.form__label {
	@extend .small-label;
	display: block;
}

.form__field {
	width: 100%;
	max-width: 100%;
	background-color: lighten($background-color, 70%);
	border: 0;
	border-radius: rem(4);
	color: $primary-text-color;
	font-size: rem();
	line-height: rem-lh();
	border: 2px solid darken($background-color, 20%);
	padding: rem(11.259);
	&:focus {
		border: 2px solid $secondary-color;
		outline-color: transparent;
		outline-style: none;
	}
}

::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input#submit{
 
}

.form__btn {
	background:none;
	@extend .btn--med--orange;
}